{% extends 'searchapp/base.html' %}

{% block content %}

<section>
    <h1>Mentions Légales</h1><br>
    <h2>ARTICLE 1 - INFORMATIONS LEGALES</h2>
    <p>En vue de l'Article de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé
    dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et son suivi.</p>
    <br>
    <h3>A. Editeur du site</h3><br>
    <p>Le site Le même en mieux (Pur Beurre) est édité par :</p>
    <p>la société <strong>Pur Beurre</strong>, ci-après "l'Editeur".</p><br>
    <h3>A. Hébergeur du site</h3><br>
    <p>Le site Le même en mieux (Pur Beurre) est hébergé par :</p>
    <p>le site <strong>heroku.com</strong>, ci-après "l'Hébergeur".</p><br>
    <h3>A. Utilisateurs du site</h3><br>
    <p>Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site
    Le même en mieux (Pur Beurre), ci-après "Utilisateurs.</p><br><br>

    <h2>ARTICLE 2 - CONFIDENTIALITE</h2>
    <p>L'Editeur porte à la connaissance des Utilisateurs que dans le cadre de leur navigation sur le site,
    leurs données à caractère personnel ne sont ni traitées, ni collectées.</p>
    <p> Ainsi, l'Editeur déclare ne collecter ou ne traiter aucune information de nature à pouvoir identifier
        les Utilisateurs.</p><br><br>

    <h2>ARTICLE 3 - UTILISATION DE RESSOURCES</h2>
    <p>L'Editeur déclare n'avoir utilisé pour la réalisation du site, que des ressources libres de droit.</p>
    <br>

    <p> Le site lememeenmieux vous souhaite une excellente navigation !</p>

</section>

{% endblock %}