{% extends user.is_authenticated|yesno:"searchapp/base_auth.html,searchapp/base.html" %}

{% block content %}

<section><h3>Mes aliments sauvegardés </h3>

    <p>{{ message }}</p>

    {% for save in saved %}
        <div class="col-sm-4 text-center">
             <p>Vous avez effectué une recherche pour : {{ save.0 }}</h3></p>
            <p> Substitut proposé : {{ save.1 }} </p>
        </div>
    {% endfor %}

    <form action="/searchapp/product">
    <!--<button class="btn btn-primary btn-xl js-scroll-trigger" value="" method="post" name="id">Sauvegarder</button>!-->
        <input type="hidden" name="erase" value=1>
        <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Effacer les résultats" method="post" >

    </form>

</section>



{% endblock %}